<app-header title="HOME"></app-header>

<ion-content>
  <div class="container">
    <ion-button class="boton" expand="block" routerLink="/cosas-lindas">
      <div class="boton-contenido">
        <img src="../../../assets/cosa-linda.jpg" alt="Cosas Lindas">
        <span class="boton-texto">COSAS LINDAS</span>
      </div>
    </ion-button>

    <ion-button class="boton" expand="block" routerLink="/cosas-feas">
      <div class="boton-contenido">
        <img src="../../../assets/cosa-fea.jpg" alt="Cosas Feas">
        <span class="boton-texto">COSAS FEAS</span>
      </div>
    </ion-button>
  </div>
</ion-content>
